# Start off by ignoring everything
*
!.gitignore

# Unignore tasks
!Tasks/
!Tasks/**/*

# Unignore setup
!start_rust_task.sh
!jobs.yaml
!bootstrap_venv.sh
!bootstrap_venv39.sh
!biglog.sh

# Unignore logging
!.lighttpd.conf
!public_html/
!public_html/**

# Unignore formatting configuration
!pyproject.toml
!.flake8

# Ignore cached stuff
__pycache__/
*.py[cod]
files/
pageschecked.txt
resizer_auto.log

# Ignore old tasks
IRCChrissymad/
IRC-SD/
Footy/

# Ignore task with other repository. This should probably be replaced as a submodule
footy-league-updater/

# Ignore sensitive authentication files
userpass.py
mwbot.toml
replica.my.cnf
