# wikitools
git+https://github.com/DatGuy1/wikitools.git

# afreporter
cachetools irc pymysql

# wikiwork
mwparserfromhell

# imageresizer
defusedxml Pillow pyexiv2==2.5.0
# anything above 2.5.0 requires GLIBC 2.29, ldd --version returns GLIBC 2.28. if GLIBC is bumped, switch to modify_raw_xmp()

# imageresizer
git+https://github.com/mwclient/mwclient.git
